$intro-image: "../images/backgrounds/busy_street.jpeg";
$signup-image: "../images/backgrounds/faces.jpg";

@charset "utf-8";
@import "bootstrap.css";
@import "font-awesome.min.css";
@import "flexslider.css";
@import "prettyPhoto.css";
@import "owl.carousel.css";
@import "animate.min.css";
@import "style.css";
@import "blue.css";
@import "responsive.css";

@mixin vertical-alignment{
  @media (min-width: 768px) { 
    display: flex;
    align-items: center;
  }
}

@mixin header-button($bg-color){
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 30px;
  border: 0;
  margin: 5px;
  background-color: $bg-color;
  color: #fff;
  line-height: inherit;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.vertical-align {
  @include vertical-alignment;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.privacy-policy {
  padding-top: 80px;
}

#intro {
  height: 100%;
  background: url($intro-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

#intro_content {
  padding-top: 300px;
  padding-bottom: 160px;
}

.overlay {
  background-image: url(../images/thumbs/overlay.png);
  background-color: rgba(0, 0, 0, 0.4); 
  background-repeat: repeat;
  height: 100%;
}

.tour {
  @include vertical-alignment;
  height: 100%;
  border-top: 1px solid #eee;
}

.white {
  @extend .tour;
  background-color: #ffffff; 
}

.grey {
  @extend .tour;
  background-color: #f5f5f5; 
}

.pricing {
  @extend .tour;
  background-color: #bdc3c7; 
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
} 

.header-button {
  @include header-button(#008ED6);
}

.header-button-secondary {
  @include header-button(#ffffff);
  border: 1px solid #727272;
  color: #323232;
}

.header-button-secondary-white {
  @extend .header-button-secondary;
  border: 1px solid #727272;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.5);
}

.header-button-secondary-white:hover {
    border: 1px solid rgba(255,255,255,1);
    color: #ffffff;
}

#signup {
  .button-wrapper { 
    padding: 10px;
  }
}

.signup-section {
  @extend .tour;
  background: url($signup-image) no-repeat center fixed;
  background-attachment: fixed !important;
  background-repeat: repeat;
  background-position: 0 0;
  padding-top: 80px;
  padding-bottom: 40px;
  color: #fff;
  h1, h2, h3, h4, p{
    text-align: center;
  };
}

.signup-section h4 {
  color: #ffffff;
}

.signup-section h2 {
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 40px;
}

.signup-section h3 {
  color: #ffffff;
}

.signup-section .color-overlay {
  padding-top: 125px;
  padding-bottom: 125px;
}


.signup_form {
  background-color: rgba(20, 20,20, 0.65);
  padding: 20px;
  width: 75%;
}

#signup form input[type="submit"] {
  right: auto;
  width: 25%;
  background-color: #f39c12;
  border: 1px solid #f39c12;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 15px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -o-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#signup form input[type="submit"]:hover {
  background-color: #2793b6;
}
