%link{:href => "images/icons/favicon.ico", :rel => "shortcut icon"}/
%link{:href => "images/icons/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
%link{:href => "images/icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
%link{:href => "images/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/