%header#header
  .navbar.navbar-fixed-top
    .container
      / Navigation Bar
      .navbar-header
        / Responsive Menu Button
        %button#nav-toggle.navbar-toggle{"data-target" => "#navigation-menu", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / Logo Image
        %a.navbar-brand{:href => "#"}
          %img{:alt => "logo", :height => "30", :role => "banner", :src => "img/outreach_pro_logo.png"}/