%section#intro
  .overlay
    .container
      #intro_content.row
        #newsletter-top.col-md-12.text-center
          / INTRO TEXT
          .intro_text
            %h2 Warm Up Your Cold Email
            %p
              OutreachPro turns an email list into profiles rich with information so that you can send amazing cold emails.
          #signup
            = link_to "Take The Tour", "#email_templates", class: "btn standard-button", data: { scroll: true}
            = link_to "Take The Tour2", "#email_templates", class: "btn secondary-button-white", data: { scroll: true}