%section.intro{id: "intro"}
  -# .overlay
  .container
    .row
      .col-md-12
        .intro_text
          %h3
            %span#value-prop-typed
        #signup.animated{"data-animation" => "fadeIn", "data-animation-delay" => "10000 "}
          = link_to "See How I Work", "#how_it_works", class: "btn header-button-secondary-white", data: { scroll: true }
          = link_to "Request Invite", "#get-started", class: "btn header-button", data: { scroll: true }
  / .overlay
