%section#intro
  .overlay
    .container
      .row#intro_content
        .col-md-12.text-center
          / INTRO TEXT
          .intro_text
            %h2 Warm Up Your Cold Email
            %p
              OutreachPro turns an email list into profiles rich with information so that you can send amazing cold emails.
          #signup
            = link_to "Try It Out", "#get-started", class: "btn header-button", data: { scroll: true}
            = link_to "Take The Tour", "#email_templates", class: "btn header-button-secondary-white", data: { scroll: true }