%section#intro
  .overlay
    .container
      .row#intro_content
        .col-md-12.text-center
          / INTRO TEXT
          .intro_text
            %h2 Keep Your Pipeline Moving
            %p
              OutreachPro is a mobile application that makes it easier to keep up with your prospects while you are on the move.
          #signup
            = link_to "Try It Out", "#get-started", class: "btn header-button", data: { scroll: true}
            = link_to "Take The Tour", "#email_templates", class: "btn header-button-secondary-white", data: { scroll: true }