%section#intro
  .overlay
    .container
      .row
        .col-md-12
          .intro_text
            %h2 Keep Your Sales Pipeline Moving
            %p OutreachPro is a mobile application that allows you to do your sales outreach while you are on the move.
          #signup
            = link_to "How It Works", "#how_it_works", class: "btn header-button-secondary-white", data: { scroll: true }
            = link_to "Try It Out", "#get-started", class: "btn header-button", data: { scroll: true }