%section#intro
  .overlay
    .container
      .row
        .col-md-12
          .intro_text
            %h2 Send Cold Email On The Move
            %p OutreachPro is a mobile application that makes it easy to do sales outreach wherever you are.
          #signup
            = link_to "How It Works", "#how_it_works", class: "btn header-button-secondary-white", data: { scroll: true }
            = link_to "Try It Out", "#get-started", class: "btn header-button", data: { scroll: true }