%section.pricing{id: "pricing"}
  .container
    .row
      .col-sm-12.titlebar
        %h3 Beta Pricing Special
        %h2 Choose your package
    .row.price-row
      = partial "pricing_table", locals: { package: data.packages.beta_tester, klass: "col-md-offset-2 price_1", animation: "fadeInLeft", offset: true}
      = partial "pricing_table", locals: { package: data.packages.unlimited_forver, klass: "price_3", animation: "fadeInRight", highlight: true}
