%section.proof{:id => "UsedBy"}
  .container
    .row
      .col-md-12
        %h4
          Used By Sales People At
        \&nbsp
    .row.vertical-align.centered
      .col-md-3
        = image_tag "logos/aol_logo.png", alt: "AOL Logo", role: "banner", class: "client_logo"
      .col-md-3
        = image_tag "logos/thought_logo.png", alt: "Thought Cataolg Logo", role: "banner", class: "client_logo"
      .col-md-3
        = image_tag "logos/pk4_logo.png", alt: "PK4 Media Logo", role: "banner", class: "client_logo"
      .col-md-3
        = image_tag "logos/kargo_logo.png", alt: "Kargo Logo", role: "banner", class: "client_logo"
      \&nbsp
