%section.signup-section{id: "get-started"}
  .container.signup_form
    .row.vertical-align
      .col-md-4
        = image_tag "animations/test_walkthrough.gif", class: "img-responsive animated", data: { animation: "fadeInRight", "animation-delay" => "300" }
      .col-md-8
        %h1
          Ready to try it out?
        %br
        %p
          Enter your email below and lets
          %u get the process started!
        #signup
          %form{:action => "//octaviuslabs.us9.list-manage.com/subscribe/post-json?u=b938c35c367eaa74a26005d87&\tid=69ae69db4f&c=?", :method => "POST"}
            .field-wrapper
              %input#mce-EMAIL{:name => "EMAIL", :placeholder => "Your Work Email", :type => "email", :value => ""}/
              %input#mce-PLAN{:name => "PLAN", :type => "hidden", :value => "none"}/
            .button-wrapper
            %input{:type => "submit", :value => "Get Started",class: "pull-right"}/
          .message
