- if build?
  - conversion_pixel = data.remote_keys.conversion_pixels.production
  - server_url = data.remote_keys.email_server.production
- else
  - conversion_pixel = data.remote_keys.conversion_pixels.development
  - server_url = data.remote_keys.email_server.development
%section.signup-section{id: "get-started"}
  .container.signup_form
    .row.vertical-align
      .col-md-4
        = image_tag "animations/basic_demo.gif", class: "img-responsive animated", data: { animation: "fadeInRight", "animation-delay" => "300" }
      .col-md-8
        %h1
          Want to try it out?
        %p
          Enter your email below and lets
          %u get the process started!
        #signup
          %form#signup_form{action: (server_url), method: "GET", data: { conversion_pixel: (conversion_pixel)}}
            .field-wrapper
              %input#mce-EMAIL{:name => "EMAIL", :placeholder => "Your Work Email", :type => "email", :value => ""}/
              %input#mce-PLAN{:name => "PLAN", :type => "hidden", :value => "none"}/
            .button-wrapper
              %input{:type => "submit", :value => "Request Invite",class: "pull-right"}/
          .message
