%section.sub-intro{:id => "SubIntro"}
  .container
    .row.vertical-align.centered
      .col-md-6.col-md-offset-3
        %h1
          No More Grunt Work
        %h4
          I’m a sales assistant that uses machine learning to scan your sales pipeline looking for things that you can do to close more deals.
      \&nbsp
