%section#video
  \&nbsp
  .container
    .row
      #services_image.col-md-12.text-center.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "300"}
        %iframe#vimeo-player{:allowfullscreen => "", "data-progress" => "true", :frameborder => "0", :height => "601", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/113456985?title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "1070"}
    .row
      #service-buttons.col-md-12.text-center
        %a.btn.btn-theme.animated{"data-animation" => "bounceIn", "data-animation-delay" => "700", "data-scroll" => "", :href => "#pricing"} See Pricing
    %hr/
    .row
      .col-md-6
        / SERVICE BOX
        .service-box.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "300"}
          %h4
            %i.fa.fa-cogs>
            Automated Research
          %p
            Manually looking through the internet to find information about a prospect takes forever. OutreachPro does this the research for you and centralizes all available data from social profiles and websites into easy to read contact cards.
        / SERVICE BOX
        .service-box.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "300"}
          %h4
            %i.fa.fa-comments-o>
            Quickly Personalize Templates
          %p
            Studies show that email outreach conversion rates jumps by 14% if you include a personalized messages. With OutreachPro you can quickly add personalized messages each user or groups of users.
      .col-md-6
        / SERVICE BOX
        .service-box.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "500"}
          %h4
            %i.fa.fa-star>
            Easy Lead Scoring
          %p
            Before OutreachPro, it was hard to qualify prospects quickly. Now our "Tinder-like" user interface makes it quick and easy. When each contact card is displayed you can score and save or skip a prospect one click.
          \ 
        / SERVICE BOX
        .service-box.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "500"}
          %h4
            %i.fa.fa-line-chart>
            See Whats Working
          %p
            The most painful part of outreach is sending emails out and never getting feedback. Outreach pro lets you see when people viewed your messages and what links they clicked on.
