.container
  .spash-card
    .row
      .col-md-12.text-center
        .div
          = image_tag "images/vesper_logo.png", class: "logo"
          %h1.accent I’m The World Class Aide For Rainmakers
          %h1
            .small Text Hello To Get Started
            818.273.6358
    .row.phone-body
      .col-md-12
        = image_tag "images/phone.png"
